<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>...</title>
    
    <link rel="stylesheet" href="{{ request.static_url('mypackage:static/style.css') }}">
    
</head>
<body>
    <h1>{{ greeting }}</h1>
    <p>Nama dari URL path: <strong>{{ name }}</strong></p>
    <p>Path URL saat ini: <strong>{{ path }}</strong></p>
</body>
</html>