body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 2em;
}

h1 {
    color: #333;
    border-bottom: 2px solid #ccc;
}

strong {
    color: #b00; /* Warna merah tua */
}